.step-form {

  $block-name:                &; // #{$block-name}__element

  // .swiper-wrapper {
  //   margin-bottom: 64px;
  // }

  &__row,
  &__colors,
  &__contacts-row {
    gap: 16px 0;
  }

  &__colors {
    justify-content: center;
  }

  &__col-progress {
    @include col(xs, 12);
    @include col-offset(lg, 1);
    @include col(lg, 10);
    //@include col(xl, 4);
  }

  &__col-1-2 {
    @include col(xs, 12);
    @include col(sm, 6);
    //@include col(md, 6);
    //@include col(lg, 3);

    &--ext {
      @include col(sm, 12);
      @include col(md, 6);
    }
  }

  &__col-2-4 {
    @include col(xs, 12);
    @include col(sm, 6);
    @include col(md, 4);
    @include col(lg, 3);
  }

  &__col-color {
    @include col(xs, 6);
    @include col(sm, 4);
    @include col(md, 3);
    @include col(lg, 2);
  }

  &__col-details {
    @include col(xs, 12);
    @include col-offset(lg, 1);
    @include col(lg, 10);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__col-input {
    @include col(xs, 12);
    @include col(md, 6);
  }

  &__info {
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
  }


  &__step-inner {
    display: block;
    //padding-top: 0;
    padding: 0 0 64px;
    margin: 0;
    border: none;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  &__step-title {
    margin-top: 0;
    font-weight: 600;

    & > span {
      color: $main-color;
    }
  }

  &__step-radio-btns {
    display: flex;
    //flex-wrap: wrap;
    //align-items: center;
    justify-content: center;
    //gap: 16px;

    .field-radio {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      margin: 0;
    }

    .field-radio__input-wrap {
      margin: 0;
    }
  }

  &__step-2 {

  }

  &__step-3 {

  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 64px;
    //padding: 64px 0 0;
  }

  &__warning {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    font-size: $font-size;
    text-align: center;
    color: $main-color;

    @media (min-width: $screen-md) {
      text-wrap: balance;
    }

    &:empty {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__table-wrapper {
    padding: 24px 16px;
    background-color: $block-bg;
    border-radius: $border-radius;

    // @media (min-width: $screen-lg) {
    //   padding: 24px 32px;
    // }

    .table-responsive {
      margin: 0;
    }

    .field-checkbox__name-text {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 500;
    }

    tr {

      &:not(:last-child) {

        @media (max-width: $screen-md - 1) {
          margin-bottom: 0 !important;
        }
      }
    }

    th {
      height: 56px;
      vertical-align: middle;
    }

    td {

      @media (max-width: $screen-md - 1) {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    td:has(.field-checkbox.one-of) {

      @media (min-width: $screen-md) {
        height: 73px;
      }
    }

    .field-checkbox {

      &.one-of {

        @media (min-width: $screen-md) {
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }
  }
}
