.main-nav {
  display: flex;
  align-items: initial;
  justify-content: space-between;
  width: 100%;
  position: relative;

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    list-style: none;
  }

  &__inner {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 12px;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &.active,
    &:focus-within {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    &--local {
      left: initial;
      right: initial;

      #{$block-name}__item {
        min-width: 278px;
      }
    }
  }

  &__item {

    &.active {

      & > #{$block-name}__link {
        color: $link-color--hover;
        background-color: $main-pale--hover;

        &::after {
          background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$link-color--active);
        }
      }
    }

    &.level-2 {
      display: flex;
      flex-direction: column;

      .main-nav__item--parent {

        &:hover,
        &:focus-within {

          & > #{$block-name}__list-lvl-4 {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }
      }
    }

    &--parent {

      & > #{$block-name}__link {

        &:hover,
        &:focus {

          &::after {
            background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$link-color--hover);
          }
        }

        &:active {

          &::after {
            background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$link-color--active);
          }
        }

        &::after {
          display: block;
          content: "";
          width: 16px;
          height: 16px;
          margin-left: 4px;
          background-position: center;
          background-size: 16px;
          background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$text-color);
        }
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 11px 12px;
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    border-radius: $border-radius-sm;

    &:hover,
    &:focus {
      color: $link-color--hover;
      background-color: $main-pale--hover;
    }

    &:focus {

      & + #{$block-name}__inner {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    &:active {
      color: $link-color--active;
      background-color: $main-pale--active;
    }

    &--apart {
      font-weight: 600;
      color: $main-color;
      background-color: $body-bg;
      border: none;
      cursor: pointer;
    }
  }

  &__list-lvl-2,
  &__list-lvl-3,
  &__list-lvl-4 {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-lvl-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    gap: 16px 20px;
    width: 100%;
    padding: 20px 12px;
    background-color: $body-bg;
    border-radius: $border-radius;
    position: relative;
    border: 1px solid $border-color;
    transition: opacity 0.3s ease;

    & > li:nth-child(1),
    & > li:nth-child(2) {
      flex: 0 1;
      flex-basis: calc(25% - 15px);
    }

    & > li:nth-child(3) {
      flex: 0 1 100%;
      padding-top: 16px;
      border-top: 1px solid $border-color;

      & > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
    }

    & > li > span {
      display: block;
      padding: 0 12px 4px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__list-lvl-3 {
    flex: 1 1 100%;
    position: relative;

    li + li {
      margin-top: 4px;
    }

    #{$block-name}__item.active {

      #{$block-name}__list-lvl-4 {
        visibility: visible;
        opacity: 1;
      }
    }

    #{$block-name}__link {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &::after {
        transform: rotate(-90deg);
      }
    }
  }

  &__list-lvl-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px 10px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 100%;
    width: 578px;
    height: 100%;
    padding-left: 22px;
    background-color: $body-bg;

    // &.active {
    //   visibility: visible;
    //   opacity: 1;
    // }

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 12px;
      width: 1px;
      height: 100%;
      background-color: $border-color;
    }

    & > li {
      display: inline-flex;
      justify-content: initial;
      flex: 0 1;
      width: calc(50% - 12px);
    }
  }

  &__right {
    display: inline-flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
