.header-block {
  $block-name:                &; // #{$block-name}__element

  padding-top: 64px;
  padding-bottom: 64px;

  &__inner {
    text-align: center;
  }

  &__inner-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__title {
    margin-bottom: 16px;
  }

  &__intro {
    font-weight: 500;
  }
}
