.win-styles-2-col {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  &__title {
    margin-bottom: 0;
    hyphens: none;
  }

  &__row {
    gap: 24px 0;
  }

  &__header-col {
    @include col(xs, 12);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__item-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 5);

    &:first-child {
      @include col-offset(xl, 1);
    }

    &--mod-3-col {
      @include col(md, 4);
      @include col(xl, 4);

      &:first-child {
        @include col-offset(xl, 0);
      }
    }
  }

  &__img {
    margin-bottom: 16px;
  }

  &__item-title {
    margin: 0 0 16px;
    font-weight: 600;
  }

  &__item-text {

    p + p {
      margin-top: 16px;
    }
  }

  &__optional {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 40px 0;

    @media (min-width: $screen-md) {
      flex-direction: initial;
    }
  }

  // &__optional-item {

  // }

  &__optional-title {
    margin-top: 0;
  }

  // &__optional-text {

  // }
}
