.article-card {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  gap: 24px 0;
  min-height: 100%;

  &__img {
    flex: 0;
    border-radius: $border-radius;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px 0;
  }

  // &__body {

  // }

  &__title {
    margin: 0;

    a {
      text-decoration: none;
      hyphens: none;
      color: inherit;

      &:hover,
      &:focus {
        color: $link-color--hover;
      }
    }
  }

  &__descr {
    font-size: $font-size-sm;
  }

  // &__footer {

  // }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    position: absolute;
    right: 24px;
    bottom: 24px;
    left: 24px;
    z-index: 1;
    font-size: $font-size-sm;
    font-weight: 500;

    &:has(#{$block-name}__tag:first-child:empty) {
      display: none;
    }
  }

  &__tag {
    padding: 8px 12px;
    line-height: 1.2;
    color: $main-color;
    background-color: $white;
    border-radius: $border-radius-lg;

    &:empty {
      display: none;
    }
  }
}
