.article-3-col {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 40px;
    text-align: center;

    & > p {
      text-wrap: balance;
    }
  }

  &__title {
    margin: 0 0 16px;
  }

  &__row {
    gap: 24px 0;
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);
  }

  &__img {
    margin-bottom: 24px;
    border-radius: $border-radius;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {

    & > *:first-child {
      margin-top: 0;
    }
  }
}
