/* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/mulish-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/mulish-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dancing-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dancing-script-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  word-break: break-word;
  text-align: left;
  text-decoration-skip-ink: auto;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // text-rendering: optimizeLegibility;
  // Partial support in Android browser versions is due to a serious bug where text-rendering: optimizeLegibility causes custom web fonts to not render!!!
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 500;
  text-wrap: balance;
  hyphens: none;
  color: $title-color;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  line-height: 1.25;
}

.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  margin-top: 40px;
}

.h1,
h1 {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.15;
}

.h2,
h2 {
  margin-top: 0;
}

.h1,
h1 {
  font-size: $font-size--h1;

  @media (max-width: $screen-md - 1) {
    font-size: $font-size--h1 * 0.8;
  }
}

.h2,
h2 {
  font-size: $font-size--h2;
}

.h3,
h3 {
  font-size: $font-size--h3;
}

.h4,
h4 {
  font-size: $font-size--h4;
}

.h5,
h5 {
  font-size: $font-size--h5;
}

.h6,
h6 {
  font-size: $font-size--h6;
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: 16px;
  margin-bottom: 16px;
  hyphens: none;
  color: currentColor;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

p {
  // http://clagnut.com/blog/2395
  //hyphens: auto;
  //hyphenate-limit-chars: 6 3 3;
  //hyphenate-limit-lines: 2;
  //hyphenate-limit-last: always;
  //hyphenate-limit-zone: 8%;
}

a {
  text-decoration-skip-ink: inherit;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
  //list-style-position: inside;

  ::marker {
    margin-right: 0.5em;
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid $border-color;
}

.small,
small {
  font-size: $font-size * 0.75;
}

sub,
sup {
  font-size: 65%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  position: relative;
  padding: 64px 24px 30px 24px;
  margin-left: 0;
  margin-right: 0;
  background-color: $block-bg;
  border-radius: $border-radius;

  & > * {
    hyphens: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 24px;
    width: 24px;
    height: 24px;
    //background-color: red;
    background-size: 24px;
    background-position: center;
    background-image: svg-load('../blocks/sprite-svg/svg/quote.svg', fill=$text-color);
  }
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: $screen-sm) {
    margin-left: 1.5rem;
  }

  & + dt {
    margin-top: 0.5em;
  }
}


