.spec-glass-tabs {
  $block-name:                &; // #{$block-name}__element

  padding-top: 64px;
  padding-bottom: 64px;

  &__nav {
    display: flex;
    justify-content: center;

    @media (min-width: $screen-lg) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  &__nav-list {
    display: flex;
    gap: 0 16px;
    padding: 16px 16px 24px;
    overflow-x: auto;
  }

  &__nav-link {
    display: flex;
    flex-direction: column;
    flex: 0 0 140px;
    width: 140px;
    padding: 8px 8px 16px;
    background-color: $block-bg;
    border: 1px solid $block-bg;
    border-radius: $border-radius;
    cursor: pointer;
    user-select: none;
    transition: all $transition-time ease;

    @media (min-width: $screen-xl) {
      flex: 0 0 226px;
      width: 226px;
    }

    &:hover,
    &:focus {
      box-shadow: $red-shadow;
    }

    &.active {
      border-color: $main-color;
      box-shadow: $red-shadow;
    }
  }

  &__img {
    border-radius: $border-radius * 0.6;
    background-color: $secondary-color;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__label {
    margin: 10px 0 0;
    text-align: center;

    @media (min-width: $screen-xl) {
      font-weight: 600;
    }
  }

  &__content {
    margin-top: 24px;
  }

  &__content-row {
    gap: 24px 0;
  }

  &__content-text {

    @media (min-width: $screen-xl) {
      padding-left: 40px;
    }
  }

  &__col-img {
    @include col(xs, 12);
    //@include col-offset(md, 1);
    @include col(md, 4);
    //@include col-offset(lg, 2);
    //@include col(lg, 8);
    //@include col-offset(xl, 0);
    @include col(xl, 3);
  }

  &__col-text {
    @include col(xs, 12);
    @include col(md, 8);
    @include col(xl, 9);
  }

  &__content-img {
    max-width: 400px;
    margin: 0 auto;
  }

  // &__pane {
  // }

  &__title {
    margin-top: 0;
  }

  &__options {
    padding-top: 32px;
    margin-top: 30px;
    border-top: 1px solid $border-color;

    .row {
      gap: 24px 0;

      @media (min-width: $screen-xl) {
        flex-direction: row-reverse;
      }
    }
  }

  &__options-img-col {
    @include col(xs, 12);
    @include col-offset(xl, 1);
    @include col(xl, 5);
  }

  &__options-text-col {
    @include col(xs, 12);
    @include col(xl, 6);
  }

  &__options-img {
    max-width: 720px;
    margin: 0 auto;
    border-radius: $border-radius;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__options-text {

    h3:not(#{$block-name}__options-title),
    h4:not(#{$block-name}__options-title),
    h5:not(#{$block-name}__options-title),
    h6:not(#{$block-name}__options-title) {
      margin-top: 16px;
      margin-bottom: 8px;
      color: $main-color;
    }

    p {
      margin: 0.5em 0;
    }

    span {
      color: $main-color;
    }
  }

  &__options-title {
    margin-top: 0;
  }
}
