.win-options-3-col {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  &__title {
    hyphens: none;
  }

  &__header-col {
    @include col(xs, 12);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__slide {
    width: 328px;

    @media (min-width: $screen-lg) {
      width: 360px;
    }

    @media (min-width: $screen-xl) {
      width: 389px;
    }
  }

  &__footnote {
    padding: 16px;
    margin-top: 24px;
    font-size: $font-size-sm;
    text-align: center;
    background-color: $block-bg;
    border-radius: $border-radius;
    border: 1px solid $border-color;

    & > * {
      margin: 0;
    }
  }

  &__options {
    gap: 24px 0;
    margin-top: 24px;
  }

  &__option-col {
    @include col(xs, 12);
    @include col(lg, 4);
  }

  &__option-title {
    margin: 0 0 16px;
  }

  &__option-text {

    p + p {
      margin-top: 1em;
    }
  }

  & > .two-col-image {
    margin-bottom: 40px;
  }
}
