.radio-btn {
  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $block-bg;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  transition: border-color $transition-time;

  &:has(#{$block-name}__lbl:hover) {
    border-color: $main-pale--hover;
  }

  &:has(input[type=checkbox]:focus) {
    border-color: $main-pale--active;
  }

  &:has(input:checked) {
    border-color: $main-color;
  }

  &__lbl {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 190px;
    height: 44px;
    padding: 6px 40px;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__name-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    //margin-top: 8px;
    font-weight: 600;
    font-size: inherit;
    line-height: 1.3;
    text-align: center;
    text-wrap: balance;
  }
}
