.win-option-card {
  padding: 8px;
  background-color: $block-bg;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  @media (min-width: $screen-md) {
    padding: 16px;
  }

  $block-name:                &; // #{$block-name}__element

  &__img {
    margin-bottom: 24px;
    border-radius: $border-radius * 0.65;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__header {
    margin-bottom: 16px;
  }

  &__title {
    margin-top: 0;

    @media (max-width: $screen-md - 1) {
      font-size: $font-size;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column-reverse;
    padding: 8px 0;
    border-bottom: 1px solid #D9D9D9;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__value {
    margin: 0 0 4px;

    @media (max-width: $screen-md - 1) {
      font-size: $font-size;
    }
  }

  &__caption {

    @media (max-width: $screen-md - 1) {
      font-size: $font-size-sm;
    }
  }
}
