.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: $body-bg;
  border-bottom: 1px solid rgba($border-color, 0);
  transition: border-color $transition-time;
  will-change: transform;

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    min-height: 64px;

    @media (min-width: $screen-xl) {
      min-height: 120px;
    }
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    .video-call-btn {
      display: none;

      @media (min-width: $screen-xl) {
        display: inline-flex;
      }
    }

    .burger {

      @media (min-width: $screen-xl) {
        display: none;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    text-decoration: none;
    color: $title-color;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    svg {
      fill: $main-color;
    }

    &--icon {
      width: 40px;
      height: 40px;
      color: $color-wa;
      background-color: rgba($color-wa, 0.16);
      border-radius: $border-radius;
      transition: all $transition-time;

      &:hover,
      &:focus {
        color: $white;
        background-color: rgba($color-wa, 1);
      }

      svg {
        width: 24px;
        height: 24px;
        fill: currentColor;
      }
    }

    &--phone,
    &--mail {

      @media (max-width: $screen-md - 1) {
        display: none;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 4px 0;

    @media (max-width: $screen-xl - 1) {
      display: none;
    }
  }

  &--slideUp {
    //transform: translateY(-76px);
    border-color: rgba($border-color, 1);
    transition: transform .5s ease-out;

    @media (min-width: $screen-xl) {
      transform: translateY(-64px);
    }
  }

  &--slideDown {
    border-color: rgba($border-color, 1);
    transform: translateY(0);
    transition: transform .5s ease-out;
  }
}
