.articles {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 40px 0;
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);
  }
}
