@mixin field-text {
  display: inline-flex;
  //vertical-align: middle;
  width: 100%;
  min-height: 40px; // Привет, IE
  margin: 0;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $field-padding-vertical  $field-padding-horizontal;
  line-height: $line-height;
  font-size: 16px;
  font-family: inherit;
  background-color: #fff;
  -moz-appearance: textfield; // stylelint-disable-line
  appearance: textfield;

  &:focus {
    @include field-focus;
  }

  &[disabled],
  &[readonly] {
    cursor: not-allowed;
    background-color: $gray-lighter;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
  }

  &[type='color'] {
    padding: 0;
  }

  &::placeholder {
    color: $text-muted;
    opacity: 1;
  }
}


@mixin field-help-text {
  display: block;
  padding-top: 6px;
  font-size: $font-size-sm;
  line-height: 1.2em;
  color: $color-danger;

  &:empty { // stylelint-disable-line
    display: none;
  }
}


@mixin field-focus {
  outline: 0;
  border-color: transparent;
  box-shadow: 0 0 0 1px rgba($color-main, $opacity);
}


@mixin field-name {
  display: block;
  margin-bottom: 8px;
  line-height: $line-height;
  font-family: $font-family;
  font-size: $font-size-sm;
  font-weight: 500;

  span {
    //font-size: larger;
    font-weight: 700;
    color: $main-color;
  }
}
