.personal-features {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 16px;
    text-align: center;
  }

  &__header-col {
    @include col(xs, 12);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__intro {

    & > * {
      margin: 0;
    }

    span {
      color: $main-color;
    }
  }

  &__tabpane-header {
    margin-bottom: 24px;
    text-align: center;
  }

  &__tabpane-title {
    margin-top: 0;
  }

  &__opt-list {
    gap: 24px 0;
  }

  &__opt-item {
    @include col(xs, 6);
    @include col(sm, 4);
    @include col(md, 3);
    @include col(lg, 2);
    //@include col(xl, 4);

    a {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      position: relative;

      &::after {
        display: inline-flex;
        content: "";
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-position: center;
        background-image: svg-load('../blocks/sprite-svg/svg/link.svg', fill=$main-color);
      }
    }

    p,
    a {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      line-height: 1.2em;

      @media (min-width: $screen-xl) {
        font-size: 20px;
      }
    }
  }

  &__opt-img {
    //height: 100%;
    aspect-ratio: 155 / 78;
    border-radius: $border-radius;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__openings-list {
    gap: 16px 0;
  }

  &__openings-item {
    @include col(xs, 12);
    @include col(md, 4);
    @include col(lg, 3);
    //@include col(lg, 2);
  }
}
