.gallery {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 40px;
    text-align: center;
  }

  &__header-col {
    @include col(xs, 12);
    @include col-offset(xl, 2);
    @include col(xl, 8);
  }

  &__social {

    .social-net__list {
      justify-content: center;
    }
  }

  &__social-title {

    span {
      color: $main-color;
    }
  }

  &__container {
    gap: 16px 0;
    transition: max-height 400ms ease;
    will-change: max-height;
    overflow: hidden;
  }

  &__item-col {
    @include col(xs, 6);
    @include col(md, 3);
    @include col(xl, 2);
  }

  &__item {
    border-radius: $border-radius-sm;

    &:hover,
    &:focus {

      img {
        transform: scale(1.12);
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      transition: transform $transition-time;
    }
  }

  &__more-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .btn {

      &.is-open {

        svg {
          transform: rotate(180deg);
          transition: transform $transition-time;
        }
      }
    }
  }
}
