.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  min-height: 56px;
  margin: 0;
  padding: 0 24px;
  font-size: $font-size;
  font-weight: 600;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $white;
  border-radius: $border-radius;
  border: none;
  background-color: $link-color;
  user-select: none;
  cursor: pointer;
  transition: all $transition-time ease;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $link-color--hover;
  }

  &:active {
    background-color: $link-color--active;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-muted;
    background-color: $disabled-bg;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--pale {
    color: $link-color;
    background-color: $main-pale;

    &:hover,
    &:focus {
      color: $link-color--hover;
      background-color: $main-pale--hover;
    }

    &:active {
      color: $link-color--active;
      background-color: $main-pale--active;
    }

    &--disabled,
    &:disabled {
      cursor: not-allowed;
      color: $text-muted;
      background-color: $disabled-bg;
    }
  }

  &--white {
    color: $link-color;
    background-color: $white;

    &:hover,
    &:focus {
      color: $link-color--hover;
      background-color: $main-pale--hover;
    }

    &:active {
      color: $link-color--active;
      background-color: $main-pale--active;
    }

    &--disabled,
    &:disabled {
      cursor: not-allowed;
      color: $text-muted;
      background-color: $disabled-bg;
    }
  }
}
