.catalog-4-col {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__heaader {
    max-width: 796px;
    margin: 0 auto 40px;
    text-align: center;

    p:empty {
      display: none;
    }
  }

  &__title {
    margin-bottom: 16px;
    //text-align: center;
  }

  &__text-wrapper {
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
      column-count: 2;
      column-gap: 16px;
      column-fill: balance;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 24px 0 16px;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }

  &__row {
    gap: 24px 0;

    @media (min-width: $screen-md) {
      gap: 40px 0;
    }
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(lg, 4);
    @include col(xl, 3);
  }
}
