.two-col-text {
  padding-top: 64px;
  padding-bottom: 64px;

  $block-name:                &; // #{$block-name}__element

  &__header {
    max-width: 796px;
    margin: 0 auto 24px;
    text-align: center;

    p {
      hyphens: none;
    }
  }

  &__title {
    margin: 0 0 16px;
  }

  &__features-list {
    //gap: 16px 0;

    @media (min-width: $screen-md) {
      column-count: 2;
      column-gap: 16px;
      column-fill: balance;
    }
  }

  &__feature {
    // @include col(xs, 12);
    // @include col(md, 6);

    & + & {
      margin-top: 16px;
    }

    p {
      margin: 8px 0 0;
    }
  }

  &__feature-title {
    margin: 0 0 8px;
  }
}
