.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-top: 16px;
  color: $white;
  background-color: $text-muted;
  // background:
  //  linear-gradient(to bottom, rgba($black, 0) 40%, $black 100%),
  //  url(/img/hero-bg.jpg) $text-muted 50% / cover no-repeat;
  border-radius: $border-radius-lg;
  overflow: hidden;

  @media (max-width: $screen-md - 1) {
    min-height: 465px;
    padding-top: 64px;
    padding-bottom: 24px;
  }

  @media (min-width: $screen-md) {
    padding-top: 24px;
    padding-bottom: 24px;
    aspect-ratio: 2.2;
  }

  @media (min-width: $screen-xl) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media (min-width: $screen-xxl) {
    aspect-ratio: initial;
    height: 868px;
    padding-bottom: 194px;
  }

  $block-name:                &; // #{$block-name}__element

  &__video-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    &::after {
      display: block;
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 56.5%, #000000 100%);
    }
  }

  &__video {
    // position: absolute;
    // inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }

  &__inner {
    @include col(xs, 12);
    @include col-offset(xl, 2);
    @include col(xl, 8);
    @include col-offset(xxl, 1);
    @include col(xxl, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 24px 0;
    height: 100%;
    text-align: center;

    @media (min-width: $screen-xl) {
      gap: 48px 0;
    }

    @media (min-width: $screen-xxl) {
      gap: 64px 0;
    }

    p {
      margin: 0;
      font-weight: 500;
      //text-wrap: balance;
      hyphens: none;
    }
  }

  &__logo {
    width: 288px;
    height: 82px;

    @media (min-width: $screen-lg) {
      width: 320px;
      height: 91px;
    }

    @media (min-width: $screen-xl) {
      width: 384px;
      height: 109px;
    }

    @media (min-width: $screen-xxl) {
      width: 515px;
      height: 146px;
    }
  }

  &__title {
    font-size: 32px;
    color: inherit;
    margin: 0;

    span {
      display: block;
      margin-top: 16px;
      font-size: $font-size;
      font-weight: 400;
    }
  }

  &__link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media (min-width: $screen-md) {
      flex-direction: initial;
      justify-content: center;
    }

    .btn {
      min-width: 235px;
    }
  }

  // &--video {
  //   aspect-ratio: 16 / 9 !important;
  // }
}
