.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 16px;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 48px 0 $field-padding-horizontal;
    margin: 0;
    line-height: $line-height;
    font-size: $font-size;
    font-family: inherit;
    color: $text-color;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      color: $text-muted;
      background-color: $block-bg;
      border-color: $block-bg;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $text-muted;
      opacity: 1;
    }

    @at-root textarea#{&} {
      height: auto;
      min-height: 135px;
      padding-top: 15px;
      padding-bottom: 15px;
      resize: vertical;
    }

    &--required {
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: right 23px top 23px;
      background-image: svg-load('../blocks/sprite-svg/svg/asterisk.svg', fill=$main-color);
    }
  }

  &__help-text {
    @include field-help-text;
  }

  &--textarea {

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    #{$block-name}__name {

      @media (min-width: $screen-md) {
        flex: 0 0 auto;
      }
    }

    #{$block-name}__input-wrap {

      @media (min-width: $screen-md) {
        flex: 1 1 auto;
      }
    }

    #{$block-name}__input {

      @media (min-width: $screen-md) {
        height: 99%;
      }
    }
  }
}
