.tabs {

  $block-name:                &; // #{$block-name}__element

}

.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 8px;
  margin-bottom: 24px;

  @media (min-width: $screen-md) {
    margin-bottom: 40px;
  }
}

.nav-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  padding: 0 24px;
  margin: 0;
  font-family: inherit;
  font-size: $font-size;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $text-muted;
  border-radius: $border-radius !important;
  border: none;
  background-color: $block-bg;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $link-color--hover;
    background: $main-pale--hover;
  }

  &:active {
    color: $link-color--active;
    background-color: $main-pale--active;
  }

  &.active {
    color: $white !important;
    background-color: $link-color !important;
  }

  &.focus-visible {
    //outline: 2px solid $white !important;
    //outline-offset: -4px;
    box-shadow: 0 0 0 5px $main-pale--hover !important;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-muted;
    background-color: $disabled-bg;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}
