.header-animation {
  $block-name:                &; // #{$block-name}__element

  $truck-easing: cubic-bezier(0.7, 0.0, 0.2, 0.9);

  @keyframes driving {
    0% {
      transform: translateX(-100%);
    }
    // 40% {
    //  transform: translateX(150%);
    // }
    50% {
      transform: translateX(185%);
    }
    100% {
      transform: translateX(500%);
    }
  }

  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100%;
  margin-top: auto;
  overflow: hidden;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 70px;
    height: 100%;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, $white 5%, transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, $white 5%, transparent);
  }

  @media (max-width: $screen-xl - 1) {
    display: none;
  }

  @media (prefers-reduced-motion: reduce) {
    display: none;
  }

  img {
    display: block;
    width: 89px;
    height: 36px;
    transform: translateX(-150%);

    @media (min-width: $screen-xl) {
      animation: 4s $truck-easing 1s 1 driving;
    }

    @media (prefers-reduced-motion: reduce) {
      animation: none !important;
    }
  }
}
