.field-file {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 16px;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
    position: relative;
    pointer-events: none;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;

    &:active ~ .field-file__name-text,
    &:focus-visible ~ .field-file__name-text {
      //@include field-focus;

      &::before {
        @include field-focus;
        //color: $link-color--hover;
        //border-color: $link-color--hover;
        background-image: svg-load('../blocks/field-file/bg-img/plus.svg', fill=$main-color);
        outline: 0;
        border-color: transparent;
        box-shadow: 0 0 0 1px rgba($color-main, $opacity);
      }
    }
  }

  &__name-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    font-size: $font-size;
    font-weight: 500;
    background-color: $white;
    border-radius: 0;
    white-space: nowrap;
    //overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: attr(data-button-text);
      display: block;
      width: 100%;
      min-height: 56px;
      margin-right: 0;
      padding: 14px 24px 14px 56px;
      //padding-right: 60px;
      line-height: $line-height;
      color: $main-color;
      //background-color: $white;
      background-repeat: no-repeat;
      background-position: left 16px center;
      background-size: 24px;
      background-image: svg-load('../blocks/field-file/bg-img/plus.svg', fill=$link-color);
      border: 1px solid $border-color;
      border-radius: $border-radius;
      transition: all $transition-time;
      cursor: pointer;
      pointer-events: auto;
    }

    //&:hover,
    // &:focus {
    //   //@include field-focus;

    //   &::before {
    //     color: $link-color--hover;
    //     //border-color: $link-color--hover;
    //     background-image: svg-load('../blocks/field-file/bg-img/plus.svg', fill=$link-color--hover);
    //     //background-color: darken($gray-lightest, 10%); // как у обычных кнопок
    //     outline: 0;
    //     border-color: transparent;
    //     box-shadow: 0 0 0 1px rgba($color-main, $opacity);
    //   }
    // }

    span {
      display: block;
      width: 100%;
      padding: 8px 16px 8px 16px;
      font-size: $font-size-sm;
      color: $text-muted;
    }
  }

  &__file-name {
    font-weight: 500 !important;
    color: $title-color !important;
  }

  &__help-text {
    @include field-help-text;
    color: $color-danger;
  }
}
