.field-file {

  $block-name:                &; // #{$block-name}__element

  &--error {

    #{$block-name}__name,
    #{$block-name}__name-text,
    #{$block-name}__input,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__name-text {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }
}
