.table-responsive {
  width: 100%;
  border-collapse: collapse;

  $block-name:                &;  // #{$block-name}__element

  td,
  th {
    padding: 8px 16px;
    //font-weight: 700;
  }

  @media (max-width: ($screen-md - 1)) {
    display: block;
    border: 0;

    caption {
      display: block;
      width: 100%;
      text-align: left;
    }

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;

      tr {
        display: block;
        //border: 1px solid $border-color;
        border-bottom: 0;

        &:not(:last-child) { // stylelint-disable-line  max-nesting-depth
         margin-bottom: #{$line-height * 10}px;
        }
      }

      td {
        display: block;
        width: 100%;
        border-right: 0 !important; // stylelint-disable-line  declaration-no-important
        border-left: 0 !important; // stylelint-disable-line  declaration-no-important

        &::before { // stylelint-disable-line  max-nesting-depth
          display: block;
          margin-bottom: 8px;
          font-weight: 700;
          content: attr(data-label);
        }
      }
    }
  }
}
