.step-form-conserva {
  $block-name:                &; // #{$block-name}__element

  .step-form__header {
    margin-bottom: 24px;
  }

  .step-form__step-title {
    margin-bottom: 0;
    text-align: initial;
  }

  .field-text__input--textarea {
    max-height: 375px !important;
    padding: 16px;
  }

  &__sizes-row {
    gap: 24px 0;
  }

  &__group-wrapper {
    padding: 16px;
    background-color: $block-bg;
    border-radius: $border-radius;
  }

  &__radio-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    & > * {
      flex: 0 0 auto;
    }
  }
}
