.mmenu {

  $block-name:                &; // #{$block-name}__element

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    text-decoration: none;
    color: $text-color !important;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: $main-color;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px 16px 16px;
    color: $white;
  }

  &__search {
    padding: 16px 20px;

    position: relative;
  }

  &__input {
    width: 100%;
    height: 36px;
    padding: 4px 36px 4px 12px;
    font-family: $font-family;
    font-size: $font-size-sm;
    border: 1px solid $border-color;
    border-radius: $border-radius-sm;

    &.focus-visible {
      outline-width: 0 !important;
      border-color: $main-color;
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translateY(-50%);
    //display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: svg-load('../blocks/sprite-svg/svg/search.svg', fill=$text-muted);
    border-radius: $border-radius-sm;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus {
      background-image: svg-load('../blocks/sprite-svg/svg/search.svg', fill=$main-color);
      outline-width: 0 !important;
    }
  }
}

:root {
  --mm-min-size: 260px;
  --mm-max-size: 400px;
  --mm-size: 82%;
}

// Overriding attr
.mm-navbar {
  border-top: 1px solid $border-color;
}

.mm-navbar__title,
.mm-listitem__text {
  font-weight: 600;
}

.mm-navbar__title {
  font-size: 18px;
  color: $text-color !important;
}

.mm-btn {

  &.mm-listitem__btn,
  &.mm-navbar__btn {

    &::before,
    &::after {
      border-color: $text-color !important;
    }
  }
}

.mm-menu .mm-listitem.active {
  color: $link-color--active;
  background-color: $main-pale--hover !important;
  opacity: 1;
}

.mm-menu .mm-listitem {

  &::after {
    left: 0;
    right: 0;
  }
}

.mm-navbars--bottom .mm-navbar:last-child {
  border-top: none;
}

