.brands {
  margin-top: 40px;

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__item {
    flex: 0 1 ;
    flex-basis: calc(50% - 8px);
    //display: flex;
    //align-items: center;
    max-width: 187px;
    height: auto;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius-sm;

    img {
      display: block;
      //width: 100%;
    }
  }
}
