/*!*
 * ВНИМАНИЕ! Этот файл генерируется автоматически.
 * Не пишите сюда ничего вручную, все такие правки будут потеряны.
 * Читайте ./README.md для понимания.
 */

@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';
@import '../../node_modules/bootstrap/scss/_mixins';
@import '../../node_modules/bootstrap/scss/_dropdown';
@import '../../node_modules/bootstrap/scss/_nav';
@import '../../node_modules/bootstrap/scss/_modal';
@import './src/scss/variables.scss';
@import './src/scss/mixins.scss';
@import '../../node_modules/choices.js/public/assets/styles/choices.min.css';
@import '../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css';
@import '../../node_modules/mmenu-js/dist/mmenu.css';
@import '../../node_modules/swiper/swiper-bundle.css';
@import './src/blocks/accordion/accordion.scss';
@import './src/blocks/breadcrumbs/breadcrumbs.scss';
@import './src/blocks/btn/btn.scss';
@import './src/blocks/burger/burger.scss';
@import './src/blocks/close/close.scss';
@import './src/blocks/dropdown/dropdown.scss';
@import './src/blocks/embed-responsive/embed-responsive.scss';
@import './src/blocks/field-actions/field-actions.scss';
@import './src/blocks/field-checkbox/field-checkbox.scss';
@import './src/blocks/field-file/field-file.scss';
@import './src/blocks/field-radio/field-radio.scss';
@import './src/blocks/field-text/field-text.scss';
@import './src/blocks/form/form.scss';
@import './src/blocks/logo/logo.scss';
@import './src/blocks/main-nav/main-nav.scss';
@import './src/blocks/modal/modal.scss';
@import './src/blocks/page/page.scss';
@import './src/blocks/page-footer/page-footer.scss';
@import './src/blocks/page-header/page-header.scss';
@import './src/blocks/pagination/pagination.scss';
@import './src/blocks/scroll-link/scroll-link.scss';
@import './src/blocks/sprite-svg/sprite-svg.scss';
@import './src/blocks/table/table.scss';
@import './src/blocks/table-mobile-scroll/table-mobile-scroll.scss';
@import './src/blocks/tabs/tabs.scss';
@import './src/blocks/typo/typo.scss';
@import './src/blocks/field-select/field-select.scss';
@import './src/blocks/big-banner/big-banner.scss';
@import './src/blocks/two-col-headings/two-col-headings.scss';
@import './src/blocks/warranty-banner/warranty-banner.scss';
@import './src/blocks/zoom-call/zoom-call.scss';
@import './src/blocks/certificates-carousel/certificates-carousel.scss';
@import './src/blocks/catalog-3-col/catalog-3-col.scss';
@import './src/blocks/win-material-card/win-material-card.scss';
@import './src/blocks/catalog-4-col/catalog-4-col.scss';
@import './src/blocks/win-type-card/win-type-card.scss';
@import './src/blocks/clients-carousel/clients-carousel.scss';
@import './src/blocks/win-styles-2-col/win-styles-2-col.scss';
@import './src/blocks/win-options-3-col/win-options-3-col.scss';
@import './src/blocks/personal-features/personal-features.scss';
@import './src/blocks/add-design-opt/add-design-opt.scss';
@import './src/blocks/add-service-list/add-service-list.scss';
@import './src/blocks/gallery/gallery.scss';
@import './src/blocks/faq/faq.scss';
@import './src/blocks/write-us/write-us.scss';
@import './src/blocks/copyrights/copyrights.scss';
@import './src/blocks/win-option-card/win-option-card.scss';
@import './src/blocks/special-offers-banner/special-offers-banner.scss';
@import './src/blocks/social-net/social-net.scss';
@import './src/blocks/social-net-total/social-net-total.scss';
@import './src/blocks/price-card-backfaced/price-card-backfaced.scss';
@import './src/blocks/personaliz-card/personaliz-card.scss';
@import './src/blocks/openers-options/openers-options.scss';
@import './src/blocks/articles/articles.scss';
@import './src/blocks/article-card/article-card.scss';
@import './src/blocks/static-3-col/static-3-col.scss';
@import './src/blocks/static-card/static-card.scss';
@import './src/blocks/brands/brands.scss';
@import './src/blocks/two-col-image/two-col-image.scss';
@import './src/blocks/multi-pane/multi-pane.scss';
@import './src/blocks/two-col-text/two-col-text.scss';
@import './src/blocks/media-banner/media-banner.scss';
@import './src/blocks/card-tabs/card-tabs.scss';
@import './src/blocks/article-3-col/article-3-col.scss';
@import './src/blocks/doors-catalog-4-col/doors-catalog-4-col.scss';
@import './src/blocks/services/services.scss';
@import './src/blocks/why-us/why-us.scss';
@import './src/blocks/service-card/service-card.scss';
@import './src/blocks/contractors/contractors.scss';
@import './src/blocks/four-steps/four-steps.scss';
@import './src/blocks/about-us/about-us.scss';
@import './src/blocks/customer-feedback/customer-feedback.scss';
@import './src/blocks/features-2-col/features-2-col.scss';
@import './src/blocks/hero/hero.scss';
@import './src/blocks/customer-feedback-card/customer-feedback-card.scss';
@import './src/blocks/video/video.scss';
@import './src/blocks/step-form/step-form.scss';
@import './src/blocks/media-checkbox/media-checkbox.scss';
@import './src/blocks/color-checkbox/color-checkbox.scss';
@import './src/blocks/table-responsive/table-responsive.scss';
@import './src/blocks/progress/progress.scss';
@import './src/blocks/field-num/field-num.scss';
@import './src/blocks/contacts/contacts.scss';
@import './src/blocks/contact-card/contact-card.scss';
@import './src/blocks/map/map.scss';
@import './src/blocks/header-block/header-block.scss';
@import './src/blocks/inner-media-block/inner-media-block.scss';
@import './src/blocks/reviews/reviews.scss';
@import './src/blocks/blog-article/blog-article.scss';
@import './src/blocks/article-link/article-link.scss';
@import './src/blocks/article-topics/article-topics.scss';
@import './src/blocks/door-slider/door-slider.scss';
@import './src/blocks/mmenu/mmenu.scss';
@import './src/blocks/timber-info/timber-info.scss';
@import './src/blocks/cards-slider/cards-slider.scss';
@import './src/blocks/request-btn/request-btn.scss';
@import './src/blocks/info-panel/info-panel.scss';
@import './src/blocks/profile-tabs/profile-tabs.scss';
@import './src/blocks/spec-glass-tabs/spec-glass-tabs.scss';
@import './src/blocks/timberlook-relevance/timberlook-relevance.scss';
@import './src/blocks/step-form-conserva/step-form-conserva.scss';
@import './src/blocks/media-radiobtn/media-radiobtn.scss';
@import './src/blocks/color-radio/color-radio.scss';
@import './src/blocks/radio-btn/radio-btn.scss';
@import './src/blocks/service-areas/service-areas.scss';
@import './src/blocks/smarter-roof/smarter-roof.scss';
@import './src/blocks/header-animation/header-animation.scss';
@import './src/blocks/search-modal/search-modal.scss';
@import './src/blocks/step-form-glazing/step-form-glazing.scss';
@import './src/scss/print.scss';
