// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-success:               #00c14d;
$color-danger:                #fc2a2a;
$color-warning:               #ffa800;

//$color-inst:                    #4a76a8;
//$color-tw:                    #40A2F5;
//$color-gh:                    #24292e;
$color-fb:                      #1877f2;
$color-wa:                      #25D366;
$color-ln:                      #007EBB;


// Семантические цвета

$main-color:                  #940c0c;
$color-main:                  $main-color;
$secondary-color:             #cccccc;

$main-pale:                   #ffefef;
$main-pale--hover:            #ffd3d3;
$main-pale--active:           #ec9c9c;

$text-color:                  #2a2a2a;
$title-color:                 #1a1a1a;
$text-muted:                  #696969;

$body-bg:                     #ffffff;
$block-bg:                    #f6f6f6;
$disabled-bg:                 #f2f2f2;

$link-color:                  $main-color;
$link-color--hover:           #680909;
$link-color--active:          #540101;

$border-color:                #e8e8e8; // grey-300
$divider-color:               $border-color;
// Базовая типографика

$font-size:                   16px;
$font-size-sm:                14px;
$font-size-lg:                20px;

$font-size--h1:               40px;
$font-size--h2:               28px;
$font-size--h3:               22px;
$font-size--h4:               20px;
$font-size--h5:               16px;
$font-size--h6:               16px;

$line-height:                 1.6;

$typo-margin-vertical:        1em;

$font-family:                 'Mulish', 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-family--script:         'Dancing Script', fantasy, cursive;
$font-family--monospace:     SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;


// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   1024px;
$screen-xl:                   1280px;
$screen-xxl:                  1920px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                100%;
$container-xl:                $screen-xl - 20;
$container-xxl:               $screen-xxl - 20;


// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           16px;



// Разное

$field-padding-vertical:      11px;
$field-padding-horizontal:    24px;

$border-radius:               16px;
$border-radius-lg:            24px;
$border-radius-sm:            8px;
$border-radius-xs:            4px;

$opacity:                     0.7;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);
$red-shadow:                  0 0 16px rgba(148, 12, 12, 0.24); //24px
$transition-time:             0.25s;

// BS4 vars for mixins
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$transition-base:                             all .2s ease-in-out !default;
$transition-fade:                             opacity .15s linear !default;
$transition-collapse:                         height .2s ease !default;

$menu-desktop-width:          $screen-xl;
$toggler-part-height:         2px;
$toggler-part-bg-color:       #000;

//$z-index-modal:               100;
